<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About us</h3>
							<p>The time you spend at University is the last of your formative years. It's so important to study the right course and have a good experience because the skills you learn and the friends you make will stay with you long after you graduate. We came together to offer bespoke admissions training because each of us received poor advice when we were preparing our own applications, but later worked for various tutoring and proofreading agencies to see how much difference some good advice can make to a University application and subsequent experience.</p>
						</section>
						<section>
							<h4>More information?</h4>
							<ul class="alt">
								<li><a href="#">Seminars and Workshops</a></li>
								<li><a href="#">Individual support</a></li>
								<li><a href="#">Our Tutors</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Christian Laurent 2020 or otherwise covered by a Creative Commons License.</a>.
					</div>
				</div>
			</footer>